body {
  max-width: 1310px;
  margin: auto;
}

.bg-danger {
  background-color: #f72210 !important;
}

.card-deck > .card {
  margin: 5px;
}

.search-icon {
  color: gray;
  font-size: 15px;
  margin-top: 0.8rem;
}

