body {
  max-width: 1310px;
  margin: auto;
}

.bg-danger {
  background-color: #f72210 !important;
}

.card-deck > .card {
  margin: 5px;
}

.magazine-image {
  width: 100%;
  height: 70%;
  object-fit: cover;
  
}